/* Always set the map height explicitly to define the size of the div
* element that contains the map. */
#map {
    height: 100%;
}
/* Optional: Makes the sample page fill the window. */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}
#floating-panel {
    position: absolute;
    top: 10px;
    left: 25%;
    z-index: 5;
    background-color: #fff;
    padding: 5px;
    border: 1px solid #999;
    text-align: center;
    font-family: 'Roboto','sans-serif';
    line-height: 30px;
    padding-left: 10px;
}

/* the CSS for displaying the directions */
#middle-panel {
    font-family: 'Roboto','sans-serif';
    line-height: 30px;
    padding-left: 10px;
}

#middle-panel select, #middle-panel input {
    font-size: 15px;
}

#middle-panel select {
    width: 100%;
}

#middle-panel i {
    font-size: 12px;
}
#middle-panel {
height: 100%;
float: right;
width: 390px;
overflow: auto;
}

/* the CSS for displaying the panel that contains the collapsibles */
#right-panel {
    font-family: 'Roboto','sans-serif';
    line-height: 30px;
    padding-left: 10px;
}

#right-panel select, #right-panel input {
    font-size: 15px;
}

#right-panel select {
    width: 100%;
}

#right-panel i {
    font-size: 12px;
}
#right-panel {
height: 100%;
float: right;
width: 390px;
overflow: auto;
}

/* so the dashboard effect info is only displayed after a route has been requested 
via clicking the calc route button */
#dashboard-info {
    display: none;
    }

/* Style the button that is used to open and close the collapsible content */
.collapsible {
    background-color: #97d378;
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
  }
  
/* Add a background color to the button if it is clicked on (active) and when you hover */
.active, .collapsible:hover {
    background-color: #79c753;
  }

/* Style the collapsible content */ 
.content {
    padding: 0 18px;
    font-size: 15px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    background-color: #e1f3d8;
}
  
/* the next two are the "+" and "-" reactivity of the collapsible clicks */
.collapsible:after {
    content: '\002B';
    color: white;
    font-weight: bold;
    float: right;
    margin-left: 5px;
}
  
.active:after {
    content: "\2212";
}
  
/* map styling */
#map {
    margin-right: 400px;
}
#floating-panel {
    background: #fff;
    padding: 5px;
    font-size: 14px;
    font-family: Arial;
    border: 1px solid #ccc;
    box-shadow: 0 2px 2px rgba(33, 33, 33, 0.4);
    display: none;
}
@media print {
    #map {
      height: 500px;
      margin: 0;
    }
    #right-panel {
      float: none;
      width: auto;
    }
}