/* Always set the map height explicitly to define the size of the div
* element that contains the map. */
#map {
    height: 100%;
}
/* Optional: Makes the sample page fill the window. */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

#floating-panel {
    position: absolute;
    top: 10px;
    left: 25%;
    z-index: 5;
    background-color: #fff;
    padding: 5px;
    border: 1px solid #999;
    text-align: center;
    font-family: 'Roboto','sans-serif';
    line-height: 30px;
    padding-left: 10px;
}

/* the CSS for displaying the directions */
#bottom-right-panel {
    font-family: 'Roboto','sans-serif';
    line-height: 30px;
    padding-left: 10px;
    height: 600px;
    overflow: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}

#bottom-right-panel select, #bottom-right-panel input {
    font-size: 15px;
}

#bottom-right-panel select {
    width: 100%;
}

#bottom-right-panel i {
    font-size: 12px;
}


/* so the dashboard effect info is only displayed after a route has been requested 
via clicking the calc route button */
#dashboard-info {
    display: none;
    }

/* Style the button that is used to open and close the collapsible content */
.collapsible {
    background-color: #97d378;
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
  }
  
/* Add a background color to the button if it is clicked on (active) and when you hover */
.active, .collapsible:hover {
    background-color: #79c753;
  }

/* Style the collapsible content */ 
.content {
    padding: 0 18px;
    font-size: 15px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    background-color: #e1f3d8;
}
  
/* the next two are the "+" and "-" reactivity of the collapsible clicks */
.collapsible:after {
    content: '\002B';
    color: white;
    font-weight: bold;
    float: right;
    margin-left: 5px;
}
  
.active:after {
    content: "\2212";
}
  
/* map styling -- No longer needed because of flex layout
#map {
    margin-right: 400px;
} */

#floating-panel {
    background: #fff;
    padding: 5px;
    font-size: 14px;
    font-family: Arial;
    border: 1px solid #ccc;
    box-shadow: 0 2px 2px rgba(33, 33, 33, 0.4);
    display: none;
}

/* new additions to make the page flexible to page resizing */
/* this also cleans up the page formatting */

* {
    box-sizing: border-box;
}

/* Column container */
.row {  
    display: flex;
    flex-wrap: wrap;
}
  
/* Create two unequal columns that sits next to each other */
/* Sidebar/left column */
.side {
    flex: 30%;
    background-color: white;
    padding: 20px;
}

/* Main column */
.main {
    flex: 70%;
    background-color: white;
    padding: 20px;
}

/* Responsive layout - when the screen is less than 700px wide, 
make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 700px) {
    .row {   
        flex-direction: column;
    }
}

#add-button {
    width: 250px;
    margin: 0 auto;
}
